.main-footer {
	padding: 2.5em 1.25em;
	background: $bg_ltgreen;
	color: $white;

	& > .wrapper {
		display: -ms-grid;
		display: grid;
		grid-gap: 2.5em;
		-ms-grid-rows: auto 2.5em auto 2.5em auto 2.5em auto 2.5em auto 2.5em auto;
		grid-template-rows: repeat(6, auto);
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		font-size: .875em;

		@include breakpoint(phone) {
			-ms-grid-rows: auto 2.5em auto 2.5em auto 2.5em auto;
			grid-template-rows: repeat(4, auto);
			-ms-grid-columns: 1fr 2.5em 1fr;
			grid-template-columns: repeat(2, 1fr);
		}

		@include breakpoint(desktop) {
			-ms-grid-rows: auto 2.5em auto 2.5em auto;
			grid-template-rows: repeat(3, auto);
			-ms-grid-columns: 1fr 2.5em 1fr 2.5em 1fr 2.5em 1fr;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.footer-widget {
		h3, h4, h5, h6 {
			margin-bottom: .25rem;
			color: inherit;
			font-size: 1.0625em;
			@include tracking(40);
			text-transform: uppercase;
		}
	}

	.footer-1 {
		-ms-grid-row: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 1;
			grid-column: 1;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 1;
			grid-column: 1;
		}
	}

	.footer-2 {
		-ms-grid-row: 3;
		grid-row: 2;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 3;
			grid-row: 2;
			-ms-grid-column: 1;
			grid-column: 1;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 3;
			grid-column: 2;
		}
	}

	.footer-3 {
		-ms-grid-row: 5;
		grid-row: 3;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 3;
			grid-column: 2;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 5;
			grid-column: 3;
		}
	}

	.footer-4 {
		-ms-grid-row: 7;
		grid-row: 4;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 3;
			grid-row: 2;
			-ms-grid-column: 3;
			grid-column: 2;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 7;
			grid-column: 4;
		}
	}

	.footer-5 {
		-ms-grid-row: 9;
		grid-row: 5;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 5;
			grid-row: 3;
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / -1;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 3;
			grid-row: 2;
			-ms-grid-column: 1;
			-ms-grid-column-span: 7;
			grid-column: 1 / -1;
		}
	}

	.footer-6 {
		-ms-grid-row: 11;
		grid-row: 6;
		-ms-grid-column: 1;
		grid-column: 1;

		@include breakpoint(phone) {
			-ms-grid-row: 7;
			grid-row: 4;
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / -1;
		}

		@include breakpoint(desktop) {
			-ms-grid-row: 5;
			grid-row: 3;
			-ms-grid-column: 1;
			-ms-grid-column-span: 7;
			grid-column: 1 / -1;
		}
	}

	.widget {
		font-weight: 300;
		@include tracking(40);
		text-align: center;

		&:not(:first-child) {
			margin-top: 2.5em;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:visited {
				color: inherit;
			}

			&:hover, &:focus, &:active {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	.widget_quote {
		max-width: 60em;
		margin: 0 auto;
		font-weight: 600;
		@include tracking(60);
		text-transform: uppercase;
	}

	.widget-title {
		margin-bottom: .5rem;
		color: inherit;
		font-size: 1.125em;
		@include tracking(40);
		text-transform: uppercase;
	}

	.menu {
		list-style-type: none;
		margin: 0;
	}

	.menu-item {
		line-height: 1.2;

		&:not(:first-child) {
			margin-top: .75em;
		}
	}

	.social-links {
		list-style-type: none;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		margin: 0;
	}

	.social-link {
		font-size: 1.5em;

		&:not(:last-child) {
			margin-right: .25em;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2em;
			height: 2em;
			background: rgba($white, .1);
			border-radius: .0625em;
			color: $white;

			&:visited {
				color: $white;
			}

			&:hover, &:focus, &:active {
				background: rgba($white, .2);
				text-decoration: none;
			}
		}
	}
}

.csu-footer {
	padding: 1.25em;
	background: $bg_green;
	color: $white;

	.wrapper {
		@include transition();
		font-size: .9375em;
		@include tracking(30);

		@include breakpoint(desktop) {
			display: flex;
			align-items: center;
		}
	}

	.copyright {
		opacity: .8;
		margin-top: .75em;
	}
}

.csu-nav {
	.menu {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0 .5em 0 0;
	}

	.menu-link {
		display: inline-block;
		opacity: .8;
		margin: 0 1em .5em 0;
		color: $white;
		text-decoration: none;

		&:visited {
			color: $white;
		}

		&:hover, &:active, &:focus {
			opacity: 1;
			text-decoration: underline;
		}
	}
}

.footer-signature {
	@include transition();
	width: 100%;
	max-width: $wordmark_width;
	margin: 1.25em auto 0;
	margin-right: 0;

	@include breakpoint(tablet) {
		margin-right: 0;
	}

	@include breakpoint(desktop) {
		margin-top: 0;
	}
}
